body {
    background-color: #000000;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 40px;
    font-family: 'Gruppo';
}
